body {
    background-color: black;
    text-align: center;
    color: white;
}

.jumbotron {
    background-image: url(Images/pia21635.jpg);
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-size: contain;
    color: white;
}

.card {
    background-color: black;
    color: white;
}

.gallery-block.grid-gallery {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.grid-gallery .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
    opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}


/* .lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
} */

.card {
    margin-bottom: 30px;
}

.gallery-block.grid-gallery .item {
    margin-bottom: 20px;
}

footer {
    background-color: #f4f5f8;
    border-top-style: solid;
    /* border-top: 5px solid #; */
    border-top-width: 5px;
    border-top-color: #00b0b0;
    color: rgb(10, 10, 10);
    min-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    /* position: fixed; */
    /* left: 0; */
    bottom: 0;
    /* width: 100%; */
    padding-top: 15px;
}

@media (min-width: 576px) {
    .gallery-block.grid-gallery .scale-on-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}